@font-face {
   font-family: 'LatoBlack';
   src: url('../fonts/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
   font-family: 'LatoBlackItalic';
   src: url('../fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
}

@font-face {
   font-family: 'LatoLight';
   src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
}

.header:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}

.wrap {
	font-family: "Lucida Grande", sans-serif;
	font-size: 62.5%;
}

.header {
	background: #333;
	border-bottom: 1px solid #fff;
}

.header a {
	color: #999;
	text-decoration: none;
}

.client {
	padding: 30px 40px;
	color: #fff;
	font-size: 34px;
	float: left;
}

.navigation {
	float: right;
}

.navigation ul {
	list-style: none;
}

.navigation li {
	display: inline-block;
}

.content {
	padding: 20px;
}

.stack * {
	margin: 0;
	padding: 0;
}

.stack {
	margin: 0 0 10px;
	font-family: "Lucida Grande", sans-serif;
	font-size: 12px;
}

.stack .title {
	margin: 2em 0 0.5em;
	font-family: LatoLight;
}

.stack .molecule {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	text-align: left;
}

.stack .table {
	border-collapse: collapse;
	border: none;
	width: 100%;
}

.stack .cell {
	border: none;
}

.stack *:focus {
	background: #fffde8;
	outline: none;
}

.stack .atom:focus {
	outline: 3px solid #CFE4FF;
}

.stack .content {
	height: 100%;
	padding: 10px;
}

.stack .add {
	border-radius: 5px;
}

.stack .molecule > .add:before {
	content: "Add... ";
	padding: 5px 5px 5px 0;
	display: inline-block;
	color: #ccc;
}

.stack .add {
	margin: 5px;
	padding: 0 5px;
	border-radius: 5px;
	list-style: none;
	color: #ccc;
	font-size: 12px;
}

.stack .add li {
	display: inline-block;
}

.stack .add a {
	display: inline-block;
	padding: 3px 15px;
	text-decoration: none;
	color: #999;
}

.stack .add a:hover {
	background: #333;
	color: #fff;
	border-radius: 100px;
	text-shadow: none;
}

.submit {
	background: #eee;
	padding: 10px;
	text-align: right;
	border-radius: 5px;
}